<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="bean" type="DataBeans.IDataBeanB"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:outputLabel for="itmodel"/>
        <h:inputText id="itmodel" value="#{cc.attrs.bean.model}"/>        
        <h:outputLabel for="itsize"/>
        <h:inputText id="itsize" value="#{cc.attrs.bean.size}"/>
    </cc:implementation>
</html>