<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        Simply chat!
        <h:form id="chatForm" style="width: 100% !important">
            <p:panelGrid columns="1" style="width: 100% !important">
                <p:outputLabel value="Chat:" for="chatArea"/>
                <p:inputTextarea id="chatArea" value="#{chat.messages}" readonly="true" autoResize="true" style="width: 100%  !important"/>
            </p:panelGrid>
        </h:form>
        <h:form id="chatMsg">
            <p:panelGrid columns="1">
                <p:outputLabel value="User:" for="uname"/>            
                <p:inputText id="uname" value="#{chat.uname}"/>
                <p:outputLabel value="Message:" for="message"/>
                <p:inputText id="message" value="#{chat.message}"/>
                <p:commandButton value="Send" 
                                 update="message, uname, :chatForm, :chatMsg"/>
            </p:panelGrid>
        </h:form>
        <h:form><p:poll interval="5" autoStart="true" listener="#{chat.updateChat()}" update=":chatForm"/></h:form>
    </h:body>
</html>

